# Sensitive Config
src/main/resources/application.properties
src/main/resources/private-key.pem
src/test/resources/application-test.properties
src/test/resources/application-test-template.properties

# Gradle
.gradle/
build/

# IntelliJ
.idea/
*.iml

# md File
*.md

# pem File
*.pem

# Firebase Service Account Keys
*firebase*.json
*service-account*.json

# macOS
.DS_Store.gradle/