<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.savit.card.mapper.CardApprovalMapper">
    <resultMap id="approvalApiDataMap" type="com.savit.card.dto.ApprovalApiDataDTO">
        <result property="birthDate" column="birth_date"/>
        <result property="connectedId" column="connected_id"/>
        <result property="organization" column="organization"/>
        <result property="resCardNo" column="res_card_no"/>
        <result property="cardPassword" column="card_password"/>
        <result property="cardName" column="card_name"/>
    </resultMap>
    <select id="findDataForApprovalApi" resultMap="approvalApiDataMap">
        SELECT
            u.birth_date,      # AS birthDate
            c.connected_id,    # AS connectedId,
            c.organization,    # AS organization,
            c.res_card_no,     # AS resCardNo,
            c.card_name,       # AS cardName,
            c.card_password   # AS cardPassword
        FROM
            User u
                JOIN
            Card c ON u.id = c.user_id
        WHERE
            u.id = #{userId} AND c.id = #{cardId}
    </select>

    <insert id="insertApprovals">
        INSERT INTO CardTransaction (
        card_id,
        res_card_no,
        res_used_date,
        res_used_time,
        res_used_amount,
        res_cancel_yn,
        res_cancel_amount,
        res_total_amount,
        budget_category_id,
        category_id,
        res_member_store_name,
        res_member_store_type,
        created_at,
        updated_at
        )
        VALUES
        <foreach collection="approvals" item="approval" separator=",">
            (
            #{approval.cardId},
            #{approval.resCardNo},
            #{approval.resUsedDate},
            #{approval.resUsedTime},
            #{approval.resUsedAmount},
            #{approval.resCancelYN},
            #{approval.resCancelAmount},
            #{approval.resTotalAmount},
            #{approval.budgetCategoryId},
            #{approval.categoryId},
            #{approval.resMemberStoreName},
            #{approval.resMemberStoreType},
            #{approval.createdAt},
            #{approval.updatedAt}
            )
        </foreach>
    </insert>

    <select id="findApprovalsByCardId" resultType="com.savit.card.domain.CardApproval">
        SELECT * FROM CardTransaction
        WHERE card_id IN (SELECT id FROM Card WHERE user_id = #{userId}) 
        AND card_id = #{cardId}
        ORDER BY res_used_date DESC, res_used_time DESC
    </select>

    <select id="findThisMonthApprovalsByUser"
            resultType="com.savit.card.domain.CardApproval">
        SELECT ct.* FROM CardTransaction ct
                             JOIN Card c ON ct.card_id = c.id
        WHERE c.user_id = #{userId}
          AND DATE_FORMAT(STR_TO_DATE(ct.res_used_date, '%Y%m%d'), '%Y%m') =
              #{month}
        ORDER BY ct.res_used_date DESC, ct.res_used_time DESC
    </select>

    <select id="findCardIdsByUser" resultType="long" parameterType="long">
        SELECT id
        FROM Card
        WHERE user_id = #{userId}
    </select>

</mapper>