<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.savit.card.mapper.CardMapper">

    <insert id="insertCards">
        INSERT INTO Card (
        connected_id,
        organization,
        card_name,
        issuer,
        encrypted_card_no,
        res_card_no,
        card_password,
        res_card_type,
        res_sleep_yn,
        registered_at,
        user_id,
        res_image_link
        )
        VALUES
        <foreach collection="cards" item="card" separator=",">
            (
            #{card.connectedId},
            #{card.organization},
            #{card.cardName},
            #{card.issuer},
            #{card.encryptedCardNo},
            #{card.resCardNo},
            #{card.cardPassword},
            #{card.resCardType},
            #{card.resSleepYn},
            #{card.registeredAt},
            #{card.userId},
            #{card.resImageLink}
            )
        </foreach>
    </insert>

    <select id="existsCardByResCardNoAndUserId" resultType="boolean">
        SELECT EXISTS(
            SELECT 1 FROM Card
            WHERE res_card_no = #{resCardNo}
              AND user_id = #{userId}
        )
    </select>

    <select id="selectCardByIdAndUserId" resultType="com.savit.card.domain.Card">
        SELECT * FROM Card
        WHERE id = #{cardId}
          AND user_id = #{userId}
    </select>

    <select id="selectCardsByUserId" resultType="com.savit.card.domain.Card">
        SELECT * FROM Card
        WHERE user_id = #{userId}
    </select>

    <select id="selectMonthlyUsageAmount" resultType="int">
        SELECT COALESCE(SUM(CAST(res_used_amount AS UNSIGNED)), 0)
        FROM CardTransaction
        WHERE card_id = #{cardId}
          AND res_cancel_yn = '0'
          AND res_used_date LIKE CONCAT(DATE_FORMAT(NOW(), '%Y%m'), '%')
    </select>

    <select id="findFirstCardByUserId" resultType="com.savit.card.domain.Card">
        SELECT *
        FROM Card
        WHERE user_id = #{userId}
        ORDER BY id ASC
            LIMIT 1
    </select>

    <update id="updateCardName">
        UPDATE Card
        SET card_name = #{cardName},
            updated_at = NOW()
        WHERE id = #{cardId}
          AND user_id = #{userId}
    </update>

    <select id="selectCardBasicByIdAndUserId" resultType="com.savit.card.domain.Card">
        SELECT
            id,
            user_id,
            card_name,
            updated_at
        FROM Card
        WHERE id = #{cardId}
          AND user_id = #{userId}
    </select>

</mapper>